body {
    font-family: Arial, Helvetica, sans-serif;
}
input[type=text] {
    padding: 6px 10px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
}

.sec1 {
    font: normal normal bold 28px/37px Roboto;
    color: navy;
    text-transform: capitalize;
}

.sec2 {
    border: 3px solid White;
    background-color: #FFFFFF;
    margin-left: 300px;
    margin-right: 340px;
    margin-top: 15px;
    margin-bottom: 7px;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.rbl input[type=radio] {
    margin-left: 30px;
    margin-right: 5px;
}

.rbm input[type=radio] {
    margin-left: 40px;
    margin-right: 8px;
}

.rbn input[type=checkbox] {
    margin-left: 30px;
    margin-right: 8px;
}

.rb0 input[type=range] {
    margin-left: 90px;
}
.button{
    background-color: #E2E2E2;
}
.button:hover {
        background-color: #969696;
}
.submit {
    background-color: #E2E2E2;
}
.submit:hover {
    background-color: #82A70C;
}
.button:hover {
    background-color: #969696;
}

footer {
    margin-top: 0px;
}